.logout {
    bottom: 0px;
    position: absolute;
}

.mdl-badge[data-badge]:after {
    background-color: rgb(244,67,54);
    color: white;
}

.seperator{
    // border:1px solid lightgray;
    // border-radius: 2px;

    margin:.5vh 0;
}