*{
    box-sizing: border-box;
    line-height: 1.5;
}

h2 {
    font-weight: 300;
    font-size: 27px;
    margin: 0 0 10px 0;
}

h3 {
    font-size: 16px;
}

body {
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
    color: #f44336;
}

.main-header-container {
    background: #fff;
}

.intro{
    margin-top:0px;

    
    @media only screen and (max-width: 890px){
        padding-top:0px!important;
    }

}

.main-header,
.intro-content,
.slogan,
.legal {
    max-width: 960px;
    padding: 20px;
    margin: 0 auto;
}

.intro-content,
.slogan{
    color:white;
}

.main-header{

    display:grid;
    grid-template-columns: 1fr 7fr;
    align-items: center;
    margin: 110px auto 25px auto;

    .logo {
        grid-column: 1;
        float: left;
    }

    nav {
        
        a {
            display: block;
            padding: 10px 20px;
            text-transform: uppercase;
            font-size: 23px;
            font-weight: 300;
            color: #222;
            border-bottom: 1px solid transparent;
            transition:all .5s ease;

            &:hover {
                border-color: black;
            }
        }

    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        float: left;
    }

    @media only screen and (max-width: 890px){
        display: grid;
    }

}

.intro-container {
    background: transparent url(/assets/img/strawberries.jpg) bottom center no-repeat;
    height: 500px;
    background-size: cover; 
}

.button-wrapper{
    margin: 60px 0 0 0!important;
}

.intro {
    text-align:center;
    color: white;
    padding-top: 60px;
    h1 {
        font-size: 80px;
        font-family: 'Oswald', sans-serif;
        
        span {
            display: block;
            font-size: 60px;
        }
    }
}



.intro-content-container {
    background: #ff7961;
}


.intro-text,
.intro-aside {
    // float: left; 

    font-size: 20px;
    letter-spacing: 2px;

    h3{
        font-size: 25px;
        // text-decoration: underline;
        font-weight: 900;
        margin-top:15px;
    }

    @media only screen and (max-width: 890px){
        float: none;
    }
}

.intro-aside{
    margin: 80px auto 80px auto;
}

.aside-content{
    display:flex;
    // line-height: 1.5;
    .text-wrapper{
        margin: 30px auto;
    }

    @media only screen and (max-width: 890px){
        display:block;
        .text-wrapper{
            margin-top:50px;
        }
    }    
}

.intro-content{
    text-align: center;
}

.intro-text {
     width:66.66%;
     margin:auto;

     p{
        margin-top: 0;
        font-size: 25px;
    }

    div{
        margin-top:5px;
        margin-bottom:15px;
        font-size: 20px;
        letter-spacing: 2px;
    }
}

.intro-aside h3,
.intro-aside p {
    margin: 0;
}

.slogan-container {
    background: rgb(244,67,54);;
}

.slogan p {
    font-size: 23px;
}

.slogan p span {
    display: block;
    font-weight: 700;
}

.legal-container {
    background: white;
    color: black;
    font-weight: 700;
}


/* Button */

.button {
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    // border: 2px solid  rgb(233, 236, 21);
    font-size: 40px;
    transition:all .5s ease;

    border-top:2px solid white;
    border-bottom:2px solid white;

    border-radius: 6px;
    color: white;

    &:hover {
        background:  white;
        color: black;
    }
}    

.button2 {
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    border-bottom: 2px solid  white;
    border-top: 2px solid  white;
    border-radius:5px;
    font-size: 20px;
    transition:all .5s ease;
    color:white;

    margin:5px;

    @media screen and (max-width: 890px){
        width: 65%;
    }

    &:hover {
        background:  white;
        color: black;
    }
}    

/* Clearfix */

.clearfix:before,
.clearfix:after {
    content:" ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* Mediaqueries */

@media screen and (max-width: 890px){
     .main-header
     .logo,
     .main-header nav,
     .main-header li {
        float: none;
    }

    .main-header {
        text-align: center;
        
        nav {
            padding-top: 10px;
        }

        li {
            display: inline-block;
        }
    }
    .intro-text,
    .intro-aside {
        width: 90%;
    }
}

// @media screen and (max-width: 700px) {
//     .intro-container {
//         height: 200px;
//     }
//     .intro {
//         padding-top:1px;
//         // padding-top: 20px;
//     }
//     .intro h1 {
//         font-size: 40px;
//     }
//     .intro h1 span {
//         font-size: 30px;
//     }
// }

.intro-header{
    font-size: 40px;
}

.design-footer{
    float: right;
}

.x-highlight{
    font-weight: 900;
}