<div class="container">
  <div class="main-header-container">
    <header class="main-header clearfix">
      <a class="logo" routerLink="/login">
        <img src="assets/img/xorga_logo.png" alt="xOrga STRAWBERRY Logo">
      </a>
      <nav>
        <ul class="clearfix">
          <li><a href="https://www.linkedin.com/in/simon-esslinger/">WORK</a></li>
          <li><a href="https://www.linkedin.com/in/sebastian-heckl-45325115a/">AGILE</a></li>
          <li><a href="http://www.perschke.info/dhbwvs_d838d/">With</a></li>
          <li><a href="https://9gag.com/">the</a></li>
          <li><a href="https://www.google.com/search?client=firefox-b-d&q=strawberry">strawberry</a></li>
        </ul>
      </nav>
    </header>
  </div>
</div><!-- End -->


<div class="intro-container">
  <div class="intro">
    <h1>xOrga STRAWBERRY<span>WORK AGILE</span></h1>
    <a class="button" routerLink="../login">START NOW</a>
  </div>
</div>

<div class="intro-content-container">
  <div class="intro-content clearfix">
    <div class="intro-text">
      <h2 class="intro-header">Was ist xOrga STRAWBERRY?</h2>
      <div>
        <div>
          Hierbei handelt es sich um das perfekte Tool um deine Aufgaben zu organisieren.
          Du kannst ganz einfach Aufgaben hinzufügen, terminieren, ändern oder löschen und darüber
          hinaus ist alles klar und übersichtlich gestaltet! Du wirst dieses Tool genauso lieben, wie du
          Erdbeeren liebst!

        </div>

        <div>
          Welche Genies haben das entwickelt? Wir sind drei Studenten aus Villingen-Schwenningen die versuchen
          die Arbeitswelt agiler zu gestalten.
        </div>

        <div>
          Mit xOrga STRAWBERRY haben wir dafür das perfekte Tool entwickelt. Warum STRAWBERRY? Schau mal zwei Zeilen
          nach oben!
        </div>
      </div>

      <div class="button-wrapper">
        <a class="button2" routerLink="../register">Registriere dich jetzt!</a>
        <a class="button2" href="https://www.dhbw-vs.de/">Trete unserer Uni bei!</a>
      </div>
    </div>

    <div class="intro-aside">
      <h2 class="intro-header"><span class="x-highlight">x</span>Team</h2>
      <div class="aside-content">
        <div class="text-wrapper">
          <h3>Simon <span class="x-highlight">x</span>Esslinger</h3>
          <div>
            Einer der besten Programmierer Deutschlands. Wenn er nicht gerade in der Uni programmiert,
            programmiert er zu Hause. Great
            guy!
          </div>
        </div>
        <div class="text-wrapper">
          <h3>Marvin <span class="x-highlight">x</span>Rothmann</h3>
          <div>
            Dieser Typ ist ein Allrounder! Frag ihn irgendetwas, er wird dir die passende Antwort liefern.
            Das einzige was er mehr liebt als Datenbanken sind Erdbeeren und seine Bands. Awesome guy!
          </div>
        </div>
        <div class="text-wrapper">
          <h3>Sebastian <span class="x-highlight">x</span>Heckl</h3>
          <div>
            Dieser junge Mann ist die Kreativität in Person. Du brauchst Motivation? Dann frag den Typen
            mit der Erdbeerensucht. Funny guy!
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- End -->

<!-- Slogan Container -->
<footer class="main-footer">

  <div class="slogan-container">
    <section class="slogan">
      <p>
        <span>Join us. Work agile. Have fun. </span>Nutze xOrga STRAWBERRY und lerne wie einfach es ist zu organisieren.
      </p>
    </section>
  </div> <!-- End-->

  <div class="legal-container">
    <section class="legal">
      <p>
        &copy; Kurs <a
          href="https://www.dhbw-vs.de/studieninteressierte/bachelor-wirtschaft/wirtschaftsinformatik-b-sc.html">WI</a>17B
        DHBW-VS 2019
        <span class="design-footer"><img src="/assets/img/xorga_logo.png" alt="xOrga STRAWBERRY Logo" height="12px">
          Design: Sebastian Heckl</span>
      </p>
    </section>
  </div>


</footer> <!-- End -->