<div class="setting">
    <div>
        <div class="title">Login Token</div>
        <app-token-manager></app-token-manager>
    </div>
    <div>
        <div class="title settings-divider">Account (under Constuction)</div>
        <div class="user-data">
            <div>
                <mdl-textfield floating-label label="E-Mail"></mdl-textfield>
            </div>
            <div>
                <mdl-textfield floating-label label="Passwort"></mdl-textfield>
            </div>
            <div>
                <mdl-textfield floating-label label="Passwort neu"></mdl-textfield>
            </div>
        </div>
    </div>
</div>